# =========================
# Python virtual environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Python cache / bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# IDE / editor files
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db

# =========================
# Event logs not native to the original project (DPIM)
# =========================
Evaluation Logs/*.xes

# =========================
# During development json files were used to store some data
# =========================
evaluation_results.json