# =========================
# Python virtual environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Python cache / bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# IDE / editor files
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS-specific
# =========================
.DS_Store
Thumbs.db
